#url-submit {
  width: 100%;
  // display: flex;
  margin-bottom: 1vh;
  
  textarea {
    font-size: 1vw;
    background-color: lightblue;
    width: 98.5%;
    // margin-top: 1vh;
    // margin-bottom: 1.5vh;
    padding: 1vh 0 1vh .5vw;
    color: orange;
    font-weight: bolder;
    border: 2px dotted white;
    outline: none;
  }
}

#object {
  // border: 2px white dotted;
  width: 100%;

  #put-post-text {
    font-size: 2vh;
    background-color: lightblue;
    width: 98.5%;
    // margin-top: 1vh;
    // margin-bottom: 1.5vh;
    padding: 1vh 0 1vh .5vw;
    color: orange;
    font-weight: bolder;
    border: 2px dotted white;
    outline: none;
  
  }
}

#route-selection {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  input {
    width: 8vw;
    font-size: 2vw;
    color: white;
    background-color: lightblue;
    border-radius: 7px;
    border: 2px dotted white;
    font-weight: bolder;
    outline: none;
    margin: 1vh;
    margin-right: 0vw;
  }

  input:focus {
    // background-color: orange;
    color: white;
  }

  input:hover {
    background-color: orange;
    color:white;

  }
}

#rendered-input {
  // margin-top: 1vh;
  border: 2px dotted white;
  width: 98%;
  padding: 1%;
  color: lightblue;
  font-weight: bolder;
  margin-top: 1vh;

  p {
    font-size: 1vw;
    display: inline;
  }
  h2 {
    color: white;
    display: inline;
    font-size: 1vw;
  }
}

textarea::placeholder {
  color: orange;
  font-size: 1.2vw;

}

textarea:focus::placeholder {
  color: transparent;
}

